.add-ad {
  width: 88rem !important;
  max-width: 100%;
  margin: 9.6rem auto 0;
  background-color: #fffef9;
  border-radius: 2rem !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  display: none;
}

.add-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #dad6c8;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0;
  flex: 1;
  text-align: center;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: #eaeaea;
  margin-left: auto;
  margin-right: 2.4rem;
}

.close-btn img {
  width: 1.7rem;
}

.modal-content {
  border: none;
}

.form-content {
  padding: 0 10rem 10rem 2.4rem;
}

.add-ad .nav-tabs {
  padding: 0;
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add-ad .nav-tabs .nav-item {
  flex: 1 0 50%;
}

.add-ad .nav-tabs .nav-link {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 0 !important;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #dad6c8;
  width: 100%;
}

.add-ad .nav-link:hover,
.add-ad .nav-tabs .nav-link:active {
  color: inherit;
}

.add-ad .nav-tabs .nav-link.active {
  border-bottom: 2px solid var(--color-primary);
}

.box {
  display: grid;
  grid-template-columns: 10rem 1fr;
  column-gap: 4.4rem;
  row-gap: 2rem;
  margin-bottom: 3.2rem;
  align-items: start;
}

.box:last-child {
  justify-items: center;
}

.box label {
  font-size: 1.6rem;
  font-weight: 300;
}

.box > label {
  color: #707070;
}

.ad-input {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.divide {
  border-bottom: 1px solid #dad6c8;
}

.select-wrapper {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  flex-wrap: wrap;
  padding-bottom: 1.6rem;
}

.select-wrapper label {
  margin-bottom: 0.6rem;
  font-weight: 400;
  color: #161720;
}

.select-menu {
  width: 19rem;
  position: relative;
  border: 1px solid #d9d9d7;
  border-radius: 1.1rem;
  box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12);
}

.select-menu .select-btn {
  display: flex;
  height: 4.2rem;
  padding: 0 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.select-menu .options {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid #d9d9d7;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 10;
}
.select-menu.active-select .options {
  display: block;
}

.sBtn-text {
  font-size: 1.6rem;
  font-weight: 400;
  pointer-events: none;
}

.options .option {
  display: flex;
  height: 4rem;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}

.options .option:hover {
  background: #f2f2f2;
}

.option .option-text {
  font-size: 1.6rem;
  color: #7d8082;
}

.select-menu img {
  transition: 0.5s ease-out;
}

.select-menu.active-select img {
  transform: rotate(180deg);
}

.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.location input {
  flex: 1;
  cursor: pointer;
}

.location input::placeholder {
  font-weight: 400;
  color: #292c2d;
}

.location-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 1.8rem;
}

#map {
  height: 40rem;
  width: 100%;
  display: none;
}

.upload-photo {
  border: 1px solid #dad6c8;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3.6rem 0;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.upload-photo p {
  margin: 0;
}

.upload-text {
  font-weight: 400;
}

.photo-input {
  display: none;
}

.add-plus {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prefer,
.amenities {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.prefer {
  margin-bottom: 4.8rem;
}

.prefer p,
.amenities p {
  margin: 0;
  color: #161720;
}

.prefer p {
  font-size: 1.6rem;
  font-weight: 400;
}

.amenities p {
  font-size: 1.4rem;
  font-weight: 500;
}

.prefer-people {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.6rem;
}

.prefer-people .number {
  font-size: 1.6rem;
  font-weight: 400;
}

.prefer-people button {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  display: block;
  font-size: 1.6rem;
  border: none;
  background-color: #f6f6f6;
  color: var(--color-primary);
  cursor: pointer;
  box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.25);
}

.amenities-grid {
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  align-items: start;
  gap: 1rem;
}

.lookfor-check input {
  display: none;
}

.lookfor-check input:checked + label .custom-radio-2 {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.lookfor-check input:checked + label .custom-radio-2::after {
  border-color: #fff;
}

.custom-radio-2 {
  width: 2.4rem;
  height: 2.4rem;
  border: 2px solid #707070;
  border-radius: 0.4rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.custom-radio-2::after {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 1.3rem;
  border: 3px solid #707070;
  border-radius: 2px;
  border-top: transparent;
  border-left: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(45deg);
}

.lookfor-check {
  margin-bottom: 1.2rem;
}

.lookfor-check label {
  font-size: 1.6rem;
  font-weight: 300;
  padding-left: 4.8rem;
  color: #707070;
  position: relative;
}

.post-btn {
  position: absolute;
  bottom: 3.2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 1.5rem;
  padding: 1.4rem 0;
  width: 33rem;
  max-width: 90%;
}

.description {
  display: block;
  width: 100%;
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: inherit;
  border: 1px solid #dad6c8;
  border-radius: 2rem;
  resize: none;
  outline: none;
}

.more-info > div {
  display: flex;

  margin-bottom: 2.4rem;
}

.more-info p {
  font-size: 1.4rem;
  font-weight: 500;
}

.description::placeholder {
  color: #707070;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}

.price p {
  font-size: 1.6rem;
  font-weight: 400;
}

.monthly-price {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  border: 1px solid #dad6c8;
  border-radius: 1.1rem;
  width: 19rem;
  position: relative;
}

.monthly-price span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

.monthly-price input {
  border: none;
  outline: none;
}

.price-img {
  width: 100%;
}

.range-slider {
  position: relative;
  height: 6px;
  margin-bottom: 3rem;
  background-color: #e6e6e6;
}

.slider-track {
  position: absolute;
  height: 100%;
  background-color: #f3704a;
}

.range-slider input {
  position: absolute;
  width: 100%;
  background: none;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #f3704a;
  border: 1px solid #f3704a;
  pointer-events: auto;
  appearance: none;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

input[type="range"]::-moz-slider-thumb {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #f3704a;
  border: 1px solid #f3704a;
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 300;
}

.min-box,
.max-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price-input {
  padding: 0.4rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #d9d9d7;
  max-width: 11.7rem;
}

.input-box input {
  font-size: inherit;
  font-weight: inherit;
  border: none;
}

.monthly-price-text {
  font-weight: 400;
}

.date {
  width: 19rem;
  height: 4.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0 1rem;
  color: #707070;
  border: none;
  outline: none;
}

.amen-life {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.life-style {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 1.6rem;
  font-weight: 300;
}

.imgs-preview {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  margin-top: 1rem;
}

.image {
  position: relative;
  max-height: 12rem;
  flex: 0 0 25%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image span {
  position: absolute;
  top: 0;
  right: 0.5rem;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

.modal-inner {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-modal img {
  width: 21rem;
  margin-bottom: 4.8rem;
}

.modal-inner p:nth-of-type(1) {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-primary);
}

.modal-inner p:nth-of-type(2) {
  font-size: 1.6rem;
  font-weight: 400;
  color: #161720;
  margin-bottom: 6rem;
}

.modal-btn {
  font-size: 1.6rem;
  font-weight: 500;
  width: 24.5rem;
  border-radius: 1.5rem;
}

.modal-dialog {
  width: 88rem;

  max-width: none;
}
.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  min-height: 58.5rem;
  border-radius: 2rem;
}

.disapproveModal img {
  width: 8rem;
  margin-bottom: 4.8rem;
}

.disapproveModal .modal-inner p:nth-of-type(1) {
  font-size: 2.4rem;
  font-weight: 700;
  color: #d73b3b;
}

.disapproveModal .modal-inner p:nth-of-type(2) {
  font-size: 1.6rem;
  font-weight: 400;
  color: #161720;
  max-width: 32rem;
  text-align: center;
}

.edit-try-btn {
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #e56161;
  color: #fff;
  width: 24.5rem;
  margin-bottom: 2rem;
}

.not-now-btn {
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
  background-color: transparent;
}

@media only screen and (max-width: 47em) {
  .form-content {
    padding: 0 2rem 4.8rem 2rem;
  }

  .box {
    grid-template-columns: 1fr;
  }

  .div {
    display: none;
  }

  .nav-tabs {
    grid-column: 1 / -1;
  }

  .post-btn {
    position: static;
    transform: none;
    display: block;
    margin: auto;
  }
}
