:root {
  --color-primary: #2387c2;
  --color-primary-dark: #035781;

  --color-secondary: #f3704a;

  --color-grey-light-1: #d3ceba;
  --color-grey-light-2: rgba(217, 217, 215, 0.83);
  --color-grey-light-3: rgba(255, 254, 249, 0.6);
  --color-grey-light-4: #f6f6f6;
  --color-grey-light-5: rgba(174, 174, 174, 0.5);

  --color-grey-dark-1: #707070;
  --color-grey-dark-2: #474747;

  --color-yellow: #ffd433;

  --gradient-1: linear-gradient(to right, #2387c2, #11405c);
  --gradient-2: linear-gradient(to right bottom, #eeebd3, #292c2d);
  --gradient-3: linear-gradient(#f8f4db, #fffffe);

  --color-text: #292c2d;
  --shadow-1: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(233, 233, 233);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d7;
  border-radius: 5px;
}

::selection {
  background-color: var(--color-secondary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  /* background: linear-gradient(var(--gradient-3)); */
  background-image: linear-gradient(to bottom, #f8f4db, #fffffe);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
p {
  line-height: inherit;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.heading-secondary,
.heading-tertiary {
  font-weight: 500;
}

.heading-secondary {
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-size: 2rem;
}

.subheading {
  font-size: 2rem;
  font-weight: 300;
}

.btn {
  font-size: 2rem;
  font-weight: 500;
  padding: 0.5rem;
  border: 2px solid transparent;
  border-radius: 2rem;
}

.btn--primary {
  background-color: var(--color-primary) !important;
  color: #fff !important;
  border: 2px solid transparent !important;
}

.btn--primary:hover,
.btn--primary:active {
  background-color: var(--color-primary) !important;
  color: #fff !important;
}

.btn--secondary {
  background-color: #fff !important;
  color: var(--color-primary) !important;
  border: 2px solid var(--color-primary) !important;
}

.btn--tertiary {
  background-color: transparent !important;
  color: var(--color-primary) !important;
  border: 1px solid var(--color-primary) !important;
}

.grid {
  display: grid;
  gap: 4.8rem;
}

.grid-col--3 {
  grid-template-columns: repeat(3, 1fr);
}

a.active {
  color: var(--color-primary-dark) !important;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .grid-col--3 {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media only screen and (max-width: 62em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 40.62em) {
  html {
    font-size: 50%;
  }

  .grid-col--3 {
    grid-template-columns: 1fr;
  }
}
