body {
  background-image: linear-gradient(#f8f4db, #fffffe);
}

/* *************************** */
/* HERO SECTION */
/* *************************** */

.section-hero {
  position: relative;
}

.hero-img {
  width: 100%;
  height: 71.5rem;
  object-fit: cover;
  object-position: center;
}

.swiper-pagination-bullets {
  bottom: 3rem !important;
}

.swiper-pagination-bullet {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 2px;
  background-color: #fff;
  transition: 0.5s;
}

.swiper-pagination-bullet-active {
  width: 2rem;
  background-color: var(--color-primary);
}

.hero-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 7rem;
  width: 78rem;
  max-width: 100%;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  z-index: 10;
}

.search {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  background-color: var(--color-grey-light-2);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.search-group {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  background-color: var(--color-grey-light-4);
  border-radius: 1rem;
}

.search-icon {
  width: 2.2rem;
}

.search-input {
  flex: 1;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-input::placeholder {
  font-family: inherit;
  color: var(--color-grey-dark-2);
}

.search-btn {
  border: none;
  border-radius: 1rem;
  padding: 1rem 3rem;
  color: #fff;
  background-image: var(--gradient-1);
}

.hero-cta {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  color: #fff;
  border-radius: 2rem;
  background-color: var(--color-grey-light-5);
}

/* *************************** */
/* RECENT SECTION */
/* *************************** */

.section-recent {
  padding: 4.8rem 0;
  position: relative;
}

.wavy-lines {
  position: absolute;
  top: 11rem;
  right: 2rem;
}

.section-recent::before,
.section-recent::after {
  content: "";
  position: absolute;

  left: 0;
  transform: translateX(-50%);
  width: 26rem;
  height: 26rem;
  border-radius: 50%;
  background-color: transparent;
  z-index: -1;
}

.section-recent::before {
  top: 11rem;
  border: 4rem solid rgba(255, 212, 51, 0.2);
}

.section-recent::after {
  top: 20rem;
  border: 4rem solid rgba(35, 135, 194, 0.2);
}

.header-wrapper {
  position: relative;
}

.view-more {
  position: absolute;
  top: 0;
  right: 1.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  text-decoration: underline;
  color: var(--color-primary);
}

.recent-card {
  position: relative;
  border-radius: 0.9rem;
  overflow: hidden;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.16);
}

.recent-img {
  width: 100%;
  display: block;
}

.add-favorite {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 1rem 1.5rem;
  background-color: rgba(246, 246, 246, 0.75);
  border-radius: 2rem;
  transition: 0.5s;
  opacity: 0;
}

.heart-icon {
  width: 2.6rem;
}

.card-details {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2rem;
  border-radius: 1rem;
  color: var(--color-grey-light-4);
  background-image: var(--gradient-2);
  transition: 0.5s;
  opacity: 0;
}

.card-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.card-price-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 300;
}

.price span {
  color: var(--color-yellow);
}

.location-icon {
  width: 1rem;
}

.recent-card:hover .card-details,
.recent-card:hover .add-favorite {
  opacity: 1;
}

/* *************************** */
/* HIGHEST SECTION */
/* *************************** */

.section-highest {
  padding: 4.8rem 0;
  font-size: 2rem;
  font-weight: 500;
}

.highest-wrapper {
  display: flex;
}

.highest-tabs {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  border: none;
}

.highest-btn {
  width: 25.8rem;
  padding: 2rem 0 !important;
  color: var(--color-primary);
  border: 1px solid var(--color-primary) !important;
  border-radius: 5rem 0 0 5rem !important;
}

.highest-btn.active {
  background-color: var(--color-primary) !important;
  color: #fff !important;
}

.tab-pane {
  transition: 0.5s ease-out;
}

.roommate {
  position: relative;
}

.roommate-img {
  width: 100%;
}

.roommate-content {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  width: 90%;
  transform: translateX(-50%);
}

.roommate-details {
  position: relative;
  padding: 2rem;
  background-color: rgba(246, 246, 246, 0.88);
  border-radius: 2rem;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.16);
  z-index: 1;
}

.roommate-name {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  color: var(--color-primary-dark);
}

.roommate-rating {
  position: absolute;
  right: 2rem;
  top: 1px;
  transform: translateY(-100%);
  padding: 0.5rem 1rem;
  background-color: rgba(246, 246, 246, 0.88);
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.16);
  border-radius: 2rem 2rem 0 0;

  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: -1;
}

.rating-icon {
  width: 2.5rem;
}

.rating-count {
  margin: 0;
}

/* *************************** */
/* SEEKERS SECTION */
/* *************************** */

.section-seekers {
  padding: 4.8rem 0;
  position: relative;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-30%, -50%);
  width: 24rem;
  height: 24rem;
  z-index: -1;
}

.seeker {
  display: grid;
  grid-template-columns: 1.85fr 2fr;
  align-items: center;
  position: relative;
  background-color: rgba(217, 217, 215, 0.28);
  border-radius: 0.9rem;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.16);
}

.seeker-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seeker-details {
  padding: 2rem;
}

.seeker-price {
  margin-bottom: 1.2rem;
}

.seeker-price span {
  color: var(--color-secondary);
}

.seekter-text,
.seeker-price span {
  font-size: 1.2rem;
}

.option-icon {
  width: 0.6rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.swiper-button-prev img,
.swiper-button-next img {
  width: 3.3rem;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  display: block;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  background-color: rgb(125, 125, 125, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

.add-add {
  position: fixed;
  right: -11.5rem;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 2rem 1rem 0;
  width: 19rem;
  border-radius: 2.2rem 0 0 2.2rem;
  background-color: var(--color-secondary);
  color: #fff;
  transition: 0.3s ease-out;
  z-index: 1000;

  display: flex;
  align-items: center;
}

.plus-icon {
  flex: 0 0 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary);
  background-color: var(--color-grey-light-4);
  margin: 0;
}

.add-add-text {
  border: none;
  background-color: transparent;
  color: inherit;
  flex: 1;
}

.add-add:hover {
  right: 0;
}

@media only screen and (max-width: 62rem) {
  .card-details,
  .add-favorite {
    opacity: 1;
  }
}

@media only screen and (max-width: 31.25rem) {
  .search {
    flex-direction: column;
    align-items: stretch;
    font-size: 1.8rem;
  }

  .search-group {
    gap: 0;
  }

  .highest-tabs {
    flex-direction: row;
    justify-content: center;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
  }

  .highest-btn {
    width: 15rem;
    border-radius: 5rem !important;
  }
  .highest-wrapper {
    flex-direction: column;
  }
}
